@import "./Theme.scss";

.Chat {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: inherit;
  background-color: $bg;
  color: white;

  .Messages {
    background-color: $bg_content2;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding:5px;
    overflow-y:scroll;
    .chatDisconnected{
      display:flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      svg{
        width:20px;
        height: 20px;
      }
      span{color:gray;}
    }
    .msg{
      padding:5px;
      display:flex;
      align-items: center;
      .msgAvatar{
        width: 30px;
        height: 30px;
      }
      .msgContent{
      display:flex;
      flex-direction: column;
      padding-left:5px;
      .msgAuthor{
        font-size: smaller;
        font-weight: bold;
      }
      .msgText{
        font-size: small;
        color:lightgray;
      }
      }
    }
  }

  .InputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 5px;

    .send {
      :hover {
        cursor: pointer;
        color:$pinkred;
      }
    }

    .InputArea {
      display: flex;
      height: 80%;
      width: 180px;
      // max-width: 80%;
      background-color: transparent;
      border: none;
      color: white;
      resize: none;
      font-family: "Roboto";
    }
    .notLoggedInput{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      .loginLink{
        cursor: pointer;
        color:$pinkred;
        margin:5px;
      }
    }
  }
  
}
