@import "./Theme.scss";

@mixin betButton($colorValue) {
  color: $colorValue;
  background-color: $bg; //from theme.scss
  flex: 1;
  margin: 10px;
  height: 60px;
  border-radius: 6px;
  border-top: 2px solid $colorValue;
  border-bottom: 2px solid $colorValue;
}

@mixin betOverall($colorValue) {
  display: flex;
  justify-content: space-between;
  width: 300px;
  color: $colorValue;

  svg {
    width: 20px;
    height: 20px;
  }

  padding-right: 10px;
}

@mixin highestBet($colorValue) {
  color: $colorValue;
  flex: 1;

  :not(:first-child) {
    display: none;
  }

  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid $colorValue;

  //avatar
  .MuiAvatar-root {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }

  .userBetAmount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

    svg {
      margin: 5px;
    }
  }
}

.roulette {
  display: flex;
  height: 100%;
  width: 100%;

  .game {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;

    .history {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
      width: 50%;

      .last100boxes {
        background-color: $pinkred;
      }

      .last100 {
        color: gray;

        .reds {
          margin: 10px;
          color: $pinkred;
        }

        .greens {
          margin: 10px;
          color: greenyellow;
        }

        .blacks {
          margin: 10px;
          color: gray;
        }
      }
    }

    .progressBar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      width: 50%;
      background-color: $bg_content2;
      border-radius: 5px;
      margin: 20px;

      .insideProgress {
        background-color: $pinkred;
        width: 100%;
        height: 25px;
        border-radius: 5px;
        transition-property: width;
        transition-duration: 1s;
      }

      .text {
        position: absolute;
        width: inherit;
        text-align: center;
        color: white;
        font-weight: bold;
      }
    }


  }

  .colorBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 15px;
    width: 50%;
    background-color: $bg;
    border-top: 2px solid $pinkred;
    border-bottom: 2px solid $pinkred;
    border-radius: 5px;
    
    .box {
      display: flex;
      position:relative;//to be able to offset them with left,right all that good stuff
      background-color: $pinkred;
      align-items: center;
      justify-content: center;
      transition-property: left;
      transition-duration: 3s;//smooth transition when boxes are getting offsetted
      margin: 2px;
      border-radius: 5px;
      min-width: 60px;
      min-height: 60px;

      .boxNumber {
        color: white;
        font-size: larger;
        font-weight: bold;
      }
    }
  }

  .betControls {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

    .balance {
      display: flex;
      background-color: $bg;
      border-radius: 5px;
      justify-content: space-between;
      align-items: center;
      width: 250px;
      height: 50px;

      svg {
        margin: 20px;
        color: gray;
      }

      .amount {
        color: $pinkred;
        margin: 10px;
        overflow: hidden;
      }
    }

    .controls {
      display: flex;
      background-color: $bg;
      border-radius: 5px;
      align-items: center;
      width: 650px;
      margin-left: 10px;
      height: 50px;

      .betField {
        padding-left: 10px;
      }

      .ctrlButtons {
        margin: 10px;

        button {
          color: white;
        }
      }
    }
  }

  .betButtons {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;

    .redBet {
      @include betButton($pinkred);
    }

    .greenBet {
      @include betButton(greenyellow);
    }

    .blackBet {
      @include betButton(gray);
    }
  }

  .betInfo {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

    .redOverall {
      @include betOverall($pinkred);
    }

    .greenOverall {
      @include betOverall(greenyellow);

    }

    .blackOverall {
      @include betOverall(gray);

    }
  }

  .lastBets {
    display: flex;
    height: 300px;
    width: 50%;

    .userBet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .userInfo {
        padding: 5px;

        //avatar
        .MuiAvatar-root {
          width: 30px;
          height: 30px;
          margin-right: 8px;
        }
      }

      .userBetAmount {
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }
    }

    .red {
      flex: 1;
      margin: 10px;

      .highestRed {
        @include highestBet($pinkred);
      }

      .smallerReds {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $pinkred;
        font-size: small;
        overflow-y: scroll;
        max-height: 250px;
      }
    }

    .green {
      flex: 1;
      margin: 10px;

      .highestGreen {
        @include highestBet(greenyellow);
      }

      .smallerGreens {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: greenyellow;
        font-size: small;
        overflow-y: scroll;
        max-height: 250px;
      }
    }

    .black {
      flex: 1;
      margin: 10px;

      .highestBlack {
        @include highestBet(gray);

      }
    }

    .smallerBlacks {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: gray;
      font-size: small;
      overflow-y: scroll;
      max-height: 250px;

    }
  }

}
